@inherits LayoutComponentBase
@inject NavigationService NavigationService
<div class="min-h-screen flex flex-col ">
    <header class="bg-[#010409] py-4 w-full">
        <div class="px-4 flex items-center gap-4">
            <div class="flex items-center ml-2">
                <img class="w-10 h-10 rounded-full" src="jjosh-logo.png"  @onclick="()=> NavigationService.GoToHome()" />
            </div>

            <nav class="text-gray-100 font-semibold text-md font-mono">
                jjosh102
            </nav>

        </div>
    </header>
    <div class="border-t border-gray-700"></div>
    <main class="grow bg-[#0d1117]">
        <div class="mx-auto p-4 max-w-7xl">
            <ErrorBoundary>
                <ChildContent> @Body </ChildContent>
                <ErrorContent Context="Exception">
                    <div class="bg-[#161b22] border border-[#f85149] text-[#f85149] px-4 py-3 rounded">
                        <span class="font-bold">Error Type:</span> @Exception.GetType() <br />
                        <span class="font-bold">Message:</span> @Exception.Message
                    </div>
                    <p class="text-center text-[#8b949e] mt-4">Nothing to see here right now. Sorry!</p>
                </ErrorContent>
            </ErrorBoundary>
        </div>
    </main>

</div>
