@page "/my-profile"
@page "/"
<PageTitle>jjosh</PageTitle>

<div class="container mx-auto px-4 py-4">
    <div class="flex flex-col items-center text-center mb-8">
        <img src="https://avatars.githubusercontent.com/u/50490077?v=4" alt="Profile Picture"
            class="w-32 h-32 rounded-full border-2 border-gray-200 dark:border-gray-700 mb-4" />
        <h1 class="text-3xl font-bold text-gray-100 mb-2">Josh Piluden</h1>

        <p class="text-md text-gray-400">
            I'm a .NET developer who loves exploring new ideas, building cool stuff, and learning from my mistakes along the way.
        </p>
    </div>

    <div>
        <DisplayProjects />
    </div>

</div>
